
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import 'default.css';

.ubc{
  background-color: #e675e2;
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}

.main_div{
  display: flex;
  height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.l_20{
	display:inline-block;
	width:20%
}

.modal_wrapper{
    position: relative;
}

.spininng_back{
    opacity: 0.7;
    background: #fff;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[v-cloak] {
  display: none;
}
